.logo {
    width: 70px;
    height: auto;
    float: left;
}

.search-box {
    float: left;
    background: #eaebed;
    border-radius: 0.5rem;
    width: 70%;
    text-align: center;
    padding-bottom: 0.15rem;
}

.search-box-img {
    width: 1.5rem;
    padding-bottom: 0.2rem;
}

.search-box-text {
    display: inline-block;
    font-size: 1.4rem;
}

.search {
    background-color: #ff5e54;
    padding: 10px 0px 5px 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

#bannerList {
    padding-top: 48px;
}