<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lhzs.data.dao.ShopMapper">
    <resultMap id="BaseResultMap" type="cn.lhzs.data.bean.Shop">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="web_shop" jdbcType="VARCHAR" property="webShop"/>
        <result column="site" jdbcType="VARCHAR" property="site"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="sell_name" jdbcType="VARCHAR" property="sellName"/>
        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="sell_prod" jdbcType="VARCHAR" property="sellProd"/>
        <result column="web_url" jdbcType="VARCHAR" property="webUrl"/>
        <result column="web_generalize" jdbcType="VARCHAR" property="webGeneralize"/>
        <result column="mobile_url" jdbcType="VARCHAR" property="mobileUrl"/>
        <result column="mobile_generalize" jdbcType="VARCHAR" property="mobileGeneralize"/>
        <result column="shop_addr" jdbcType="VARCHAR" property="shopAddr"/>
        <result column="banner" jdbcType="VARCHAR" property="banner"/>
        <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into shop (web_shop, site,
        type, sell_name, brand_name,
        sell_prod, web_url, web_generalize,
        mobile_url, mobile_generalize, shop_addr,
        banner, state, create_time, update_time
        )
        values
        <foreach collection="list" index="index" item="data" separator=",">
            (#{data.webShop}, #{data.site},
            #{data.type}, #{data.sellName}, #{data.brandName},
            #{data.sellProd}, #{data.webUrl}, #{data.webGeneralize},
            #{data.mobileUrl}, #{data.mobileGeneralize}, #{data.shopAddr},
            #{data.banner},#{data.state}, #{data.createTime}, #{data.updateTime}
            )
        </foreach>
    </insert>

    <delete id="deleteTable">
        truncate table shop
    </delete>
</mapper>