<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lhzs.data.dao.WechatUserMapper">
  <resultMap id="BaseResultMap" type="cn.lhzs.data.bean.WechatUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
    <result column="privilege" jdbcType="VARCHAR" property="privilege" />
    <result column="union_id" jdbcType="INTEGER" property="unionId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>