<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lhzs.data.dao.XhpFileUploadMapper">
  <resultMap id="BaseResultMap" type="cn.lhzs.data.bean.XhpFileUpload">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="dir" jdbcType="VARCHAR" property="dir" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="alia" jdbcType="VARCHAR" property="alia" />
    <result column="file_size" jdbcType="DOUBLE" property="fileSize" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>